<phpunit
	bootstrap='tests/bootstrap.php'
	verbose='true'>

	<testsuites>
		<!-- test suite for autoloaded OO-only code -->
		<testsuite name="jobrunner">
			<directory suffix='Test.php'>tests</directory>
		</testsuite>
	</testsuites>

	<!-- automated Mockery configuration for tests -->
	<listeners>
		<listener class="\Mockery\Adapter\Phpunit\TestListener" />
	</listeners>
	<logging>
		<log type="coverage-html" target="coverage" charset="UTF-8" highlight="true" />
	</logging>
</phpunit>
